body {
    background-color: rgb(181, 255, 108);
}

.row {
    display: flex;
    justify-content: flex-start;
}

.row p {
    margin: 50px;
    padding: 10px;
    color: black;
    background-color: aqua;
    font-size: 50px;
}

.row button {
    padding: 100px;
    margin: 50px;
    background-color: aquamarine;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 0px;
}